div.three{
	opacity: 0.3;
	width: 920px;
	height: 400px;
	background-color: black;
	transform: translate(310px, -1050px);}
	div.twenty{
	transform: translate(310px, -1435px);}
	img.one{
	padding-left: 15px;
padding-top: 5px;
width: 150px;}
div.nine{
	color: #ffffff;
padding-left: 15px;}
div.five{
line-height:1.1em;
	color: #ffffff;
	transform: translate(200px, -275px);
	font-size: 14pt;}
	

