div.sixty{
	padding-top: 70px;
width: 420px;
height: 160px; 
	transform: translate(-0px, -1150px);}
	div.sixtyone{
	padding-top: 70px;
width: 420px;
height: 160px; 
	transform: translate(450px, -1250px);}
	div.sixtytwo{
	padding-top: 70px;
width: 420px;
height: 160px; 
	transform: translate(-0px, -1100px);}
	div.sixtythree{
	padding-top: 70px;
width: 420px;
height: 160px; 
	transform: translate(450px, -1200px);}
	div.sixtyfour{
	padding-top: 70px;
width: 420px;
height: 160px; 
	transform: translate(-0px, -1050px);}
	