a.ten{
	text-decoration: none;}
div.six{
	width: 1263px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: white;
background: radial-gradient(white, #cf8702);
transform: translate(0px, -0px);
font-family: Monotype Corsiva;
font-size: 16pt;	
height: 25px;
width: 1500px;}
div.seven{
transform: translate(600px, -0px);
font-family: Monotype Corsiva;
font-size: 16pt;	
height: 25px;}
div.sixty{
	background-color: black;
	opacity: 0.3;
	width: 600px;
height: 50px;
transform: translate(440px, -1130px);}
div.sixtyone{
	color: #ffffff;
text-decoration: underline;
font-size: 17pt;
font-family: Century Gothic;
transform: translate(440px, -1180px);}

div.bd-example{
width: 600px;
transform: translate(440px, -1150px);}